@use "../../styles/globals.scss" as *;
.label {
  font-family: $main-font;
  font-size: 0.7rem;
  color: $text-color;
}

.modifier {
  border: $border;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: $main-font;
  color: $text-color;
  font-size: 0.8rem;
  position: relative;

  .modifierNameContainer {
    display: flex;
    align-items: center;
    width: 100%;
    .modifierName {
      flex-grow: 1;
      padding-right: 5px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;

    li {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 5px 0;
        color: $text-color;
      }

      &:hover {
        cursor: pointer;
        background-color: $highlight-color;
      }
    }
  }
  background-color: $layer-color;

  &:hover {
    cursor: pointer;
  }
}
