@use "../../styles/globals.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: $background-color;
  font-family: $main-font;
  color: $text-color;
}
