@use "../../../../styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $background-color;
}

.bpm {
  font-family: $main-font;
  margin-top: 10px;
  font-size: 0.8rem;
  color: $text-color;

  input {
    width: 2rem;
    text-align: center;
    margin-left: 5px;
    background-color: $layer-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $border;

    &:focus-visible {
      border: $border-highlight !important;
      outline: none;
    }
  }
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.playControls {
  display: flex;
  margin-left: 50px;
  .playButton {
    border: none;
    background-color: transparent;
  }
}

.helperControls {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
