@use "../../../../styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;
}

.bpm {
  font-family: $main-font;
  margin-top: 10px;
  font-size: 0.8rem;

  input {
    width: 2.5rem;
    margin-left: 5px;
  }
}

.playControls {
  display: flex;
  margin-left: 100px;
  .playButton {
    border: none;
    background-color: transparent;
  }
}
