.instrumentList {
  grid-area: instrumentList;
  overflow: hidden;
  width: 100%;
  height: 95%;
  padding-left: 15px;
  padding-top: 25px;
  .hiddenScroll {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
  }
}
.instrumentNotes {
  grid-area: instrumentNotes;
  padding: 20px;
  background-color: white;
}

.controller {
  grid-area: controller;
}

.userPresence {
  grid-area: userPresence;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 30px 80vh 100px;
  grid-template-areas:
    "userPresence userPresence"
    "instrumentList instrumentNotes"
    "controller controller";
}
