.instrumentList {
  grid-area: instrumentList;
  padding: 20px;
}

.instrumentNotes {
  grid-area: instrumentNotes;
  padding: 20px;
}

.controller {
  grid-area: controller;
}

.userPresence {
  grid-area: userPresence;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 30px auto 100px;
  grid-template-areas:
    "userPresence userPresence"
    "instrumentList instrumentNotes"
    "controller controller";
}
