.instrumentContainer {
  padding: 10px;
  display: flex;
}

.selectedInstrument {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
}

.partsAwarenessContainer {
  display: flex;
}

.partAwareness {
  height: 7px;
  width: 25px;
  border-radius: 2px;
}
