.container {
  max-width: 75vw;
  max-height: 75vh;
  display: grid;
  grid-template-columns: repeat(33, 70px);
  grid-template-rows: repeat(38, 25px);
  overflow: scroll;
}

.container2 {
  display: flex;
}

.selectedCell {
  background-color: #3d3636 !important;
}

.cell {
  border: 0.6px solid #3d3636;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  height: 25px;
  text-align: center;
  width: 100%;
}

.note {
  height: 25px;
  text-align: center;
}

.gridContainer {
  grid-column-start: 2;
  grid-column-end: 33;
  grid-row-start: 2;
  grid-row-end: 38;
  :first-child {
    background-color: darkgrey;
  }
  :nth-child(4n + 5) {
    background-color: lightgrey;
  }
  :nth-child(16n + 17) {
    background-color: darkgrey;
  }
}

.barNumberLabels {
  grid-column-start: 1;
  grid-column-end: 34;
  grid-row-start: 1;
  grid-row-end: 2;
  display: table-row;
}

.noteLabels {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 38;
}

.header {
  text-align: center;
  display: table-cell;
  width: 70px;
}
