.container {
  display: flex;
  max-width: 75vw;
}

.selectedCell {
  background-color: #3d3636 !important;
}

.cell {
  border: 0.6px solid #3d3636;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  height: 25px;
  text-align: center;
  width: 100%;
}

.note {
  height: 25px;
}

.gridContainer {
  :first-child {
    background-color: darkgrey;
  }
  :nth-child(4n + 5) {
    background-color: lightgrey;
  }
  :nth-child(16n + 17) {
    background-color: darkgrey;
  }
}
