@use "../../../../styles/globals.scss" as *;

.darkBG {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 300px;
  height: 170px;
  background: $background-color;
  color: $text-color;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  margin: auto;
  padding: 10px;
}

.modalHeader {
  height: 30px;
  background: $background-color;
  color: $text-color;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem;
  font-family: $main-font;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 0.8rem;
  font-family: $main-font;
  text-align: center;
}

.modalForm {
  width: 80%;
  display: block;
  margin: auto;
}

.formInput {
  margin: auto;
  width: 100%;
  background-color: $layer-color;
  color: $text-color;
  border-radius: $border-radius;
  border: $border;
  padding: 5px;

  &:focus {
    border: $border-highlight;
    outline: none;
  }
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 105%;
}

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: $big-border-radius;
  font-size: 0.8rem;
  font-family: $main-font;
  color: $text-color;
  border: $border;
  background: $layer-color;
  flex-grow: 1;
  margin: 0 5px;
}

.btn:hover {
  background-color: $highlight-color;
  border: $border-highlight;
}
