$main-font: "Open Sans", sans-serif;
$background-color: #1b2021;
$layer-color: #30343f;
$highlight-color: #1377b9;
$highlight-color-2: #0e5381;
$text-color: #dbdbdb;
$border-radius: 5px;
$big-border-radius: 10px;
$border: 2px solid #374143;
$border-highlight: 2px solid $highlight-color;
