.main {
  display: flex;
  min-height: 100vh;
}

.centre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.registration-button {
  height: 40px;
  width: 50%;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #cccccc;
}
