@use "../../styles/globals.scss" as *;

.container {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $background-color;
  font-family: $main-font;
  color: $text-color;
  padding-left: 15px;
}
